* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

header{
    width: 82%;
    height: 100px;
    float: right;
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sx{
    width: 18%;
    height: calc(100vh - 120px);
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
}
.dx{
    width: 82%;
    height: 100%;
    float: right;
    position: relative;
    display: flex;
    justify-content: center;
}
